body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #85929e;
    color: white;
    padding: 20px;
    text-align: center;
}
.logo { 
    display: flex; 
    justify-content: center; /* Centro horizontalmente */ 
    align-items: center; /* Centro verticalmente */ 
    height: 55px; /* Ajusta la altura según tus necesidades */
    max-width: 100%; 
    max-height: 100%; 
}
header h1 {
    margin: 0;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
} 
th, td { 
    border: 0px solid #ddd; 
    padding: 8px; 
    text-align: center;
}

.search-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 13px;
    font-size: 16px;
    width: 500px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 13px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    border: 1px solid #ddd; 
    background-color: #85929e;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}
button:hover {
    border: 1px solid #ddd; 
    background-color: #85929e;
}


main {
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    
    background-color: white; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 320px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    margin: 10px;
    color: #666;
}

.product-card .price {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.product-card button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno */
    border: none; /* Sin borde */
    cursor: pointer; /* Aparece un puntero al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
}

.product-card button:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
}

.product-grid a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

.product-grid a:hover {
    text-decoration: none; /* Asegura que el subrayado no aparezca al pasar el mouse */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #555;
}

.product-card .product-quantity {
    width: 50px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.product-card .add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card .add-to-cart:hover {
    background-color: #45a049;
}

.cart {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.cart h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.cart ul {
    list-style: none;
    padding-left: 0;
}

.cart li {
    margin-bottom: 10px;
}

#checkout {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout:hover {
    background-color: #45a049;
}

/* Estilos para el botón de ir al inicio */
.go-to-home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.go-to-home-button:hover {
    background-color: #45a049;
}

.go-to-home-button:active {
    background-color: #388e3c;
}

#canasta-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

#canasta div {
    margin-bottom: 10px;
}

.payment-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}
.payment-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
